// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

body {
		background-color: $blue;
  	color: white;
		font-size: 16px;
		font-family: $fontContent;
		line-height: 1.5;
}

/* ---- particles.js container ---- */ 
body.home {
	#particles-js{ position:absolute; width: 100%; height: 100%; z-index: 1;} 
}

body:not(.home) {
	.particles-js-canvas-el {
		display: none;
	}
}

.count-particles { 
	background: #000022; 
	position: absolute; 
	top: 48px; 
	left: 0; 
	width: 80px; 
	color: #13E8E9; 
	font-size: .8em; 
	text-align: left; 
	text-indent: 4px; 
	line-height: 14px; 
	padding-bottom: 2px; 
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: bold; 
} 

.js-count-particles { 
	font-size: 1.1em; 
} 

#stats, 
.count-particles { 
	-webkit-user-select: none; 
	margin-top: 5px; 
	margin-left: 5px; 
} 

#stats { 
	border-radius: 3px 3px 0 0; 
	overflow: hidden; 
} 

.count-particles { 
	border-radius: 0 0 3px 3px; 
}


h1,
h2,
h3,
h4,
h5 {
	color: white;
	font-family: $fontHeading;
	font-weight: bold;
}

a {
	transition: .5s;
	&:hover {
		text-decoration: none;
		border-bottom: 1px solid white;
	}
}

.logo-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 65px;	
	z-index: 400;
	width: 100%;
	text-align: center;
	align-items: center;

	&.dark-background {
		background: $blue;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
	}

	&.fixed {
		background: #000000d6;
		overflow: hidden;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 800;
	}

	img {
		max-width: 300px;
		height: auto;
	}

	.navbar-brand {
		padding: 0;
		margin: 0;
	}

	a {
		&:hover {
			border-bottom: none;
		}
	}
}

@media (min-width: 768px) {
	.logo-wrapper {
		height: 80px;
	}
}

.scroll-down {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 65px;
	height: 65px;
	background: #ffffff45;
	border-radius: 50%;
	position: absolute;
	bottom: 10vh;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 500;
	color: $red;
	font-size: 35px;

	i {
		border-radius: 50%;
		background: white;
		width: 40px;
		height: 40px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.hide {
		display: none;
	}

	//animation: scrollDown 1s infinite;
}

@media (max-width: 767px) and (orientation: landscape) {
	.scroll-down {
		display: none;
	}
}

.navbar {
	background-color: #FFF !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.11);
  height: 85px;
	padding: 0;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 32px;
		background: #00BCD4;
		width: 100%;
	}

	.container {
		position: relative;
	}

	img {
		width: 200px;
		height: auto;
	}

	.navbar-nav .nav-link {
		color: black;
		margin: 0 0.2rem;
		padding: .1rem .5rem;
		transition: 0.3s;

		&:hover {
			border-radius: 20px;
			background: #00BCD4;
			color: white;
			transition: 0.3s;
		}
	}
}

#navbarNavDropdown {
	position: relative;
	top: 17px;
}

.brand-title {
	flex: 0 0 90%;
	margin-left: 15px;
	text-align: left;

	h2 {
		display: table-caption;
		text-align: left;
		color: #FFF;
		font-size: 35px;
		line-height: 2.5rem;
	}
}

.header-text {
	align-content: center;
	align-items: center;
	bottom: 0;
	color: hsla(0,0%,100%,.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	margin: auto;
	position: absolute;
	padding: 0 25px;
	right: 0;
	top: 0;
	text-align: center;
	width: 100%;
	z-index: 10;

	h1,
	h2,
	h3 {
		color: #FFF;
		font-size: 35px;
		line-height: 1.3;
		margin: 0;
	}

	p {
		margin-top: 1rem;
	}

	.col-12 {
		opacity: 0;
		animation: moveTextUp 1s 1s;
		animation-fill-mode: forwards;
	}
}

body:not(.home) {
	.header-text {
		h1 {
			font-size: 28px;
		}
	}
}

@media (max-width: 767px) and (orientation: landscape) {
	body:not(.home) {
		.header-text {
			top: 125px;
		}
	}

	.header-text {
		top: 150px;
		justify-content: unset;
	}

	.container {
		max-width: 100%;
		width: 100%;
	}
}

@media (min-width: 768px) {

	body:not(.home) {
		.header-text {
			h1 {
				font-size: 35px;
			}
		}
	}

	.header-text {
		font-size: 20px;
		padding: 0;

		h1,
		h2,
		h3 {
			color: #FFF;
			font-size: calc(35px + 8 * ((100vw - 320px)/ 880));
			line-height: 1.3;
			margin: 0;
		}
	}
}

@media (min-width: 992px) {
	.header-text {
		width: 100%;
	}
}

.menu-wrapper {
	background: transparent;
	position: fixed;
	right: 0px;
	top: 0;
	margin: auto;
	width: 15px;
	height: 15px;
	transition: all .5s ease;

	#nav-wrapper {
		display: none;
		opacity: 1;
		transition: all .6s;

		ul {
			margin: 0;
			list-style: none;

			li {
				transition: .5s;
				a {
					color: #FFF;
					font-size: 35px;
				}

				&:hover {
					a {
						border-bottom: none;
						color: black;
					}
				}
			}
		}
	}

	&.show {
		background: $red;
		width: 100%;
		height: 100vh;
		z-index: 400;


		#nav-wrapper {
			display: flex;
			opacity: 1;
		}
	}
}

@media (min-width: 768px) {
	.high-wrapper {
		#nav-wrapper {
			ul {
				padding-top: 100px;
			}
		}
	}
}

.menu-toggle {
	cursor: pointer;
	height: 20px;
	position: absolute;
	width: 30px;
	right: 0px;
	z-index: 600;
	transition: 0.5s;
	align-items: center;
	z-index: 200;

	.line {
		background: white;
		height: 1px;
		width: 25px;

		&:after,
		&:before {
			background: white;
			content: "";
			display: block;
			height: 1px;
			position: absolute;
		    width: 25px;
		}

		&:before {
			top: 7px;
		}

		&:after {
			top: 14px;
		}
	}
}

.contact-info {
	color: black;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 400;

	.button {
		background: white;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		cursor: pointer;
		font-size: 2rem;
		height: 55px;
		text-align: center;
		line-height: 55px;
		width: 55px;
	}

	.info {
		background: $red;
		border-radius: 10px 10px 0 10px;
		bottom: 60px;
		display: flex;
		flex-direction: column;
		right: 30px;
		height: 200px;
		justify-content: center;
		opacity: 0;
		position: absolute;
		padding: 2rem;
		transition: all 0.3s ease-out;
		visibility: hidden;
		width: 270px;

		a {
			color: white;
			display: block;

			&:hover {
				border-bottom: none;
				color: black;
				text-decoration: none;
			}
		}

		&.showMore {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media (min-width: 768px) {
	.contact-info {
		.info {
			bottom: 50px;
			right: 50px;
			width: 350px;
		}
	}
}

.header-wrapper {

	.cta-button {
		align-items: center;
		bottom: 0;
		background: $red;
		cursor: pointer;
		color: white;
		display: flex;
		height: 50px;
		justify-content: center;
		transition: .5s;
		position: fixed;
		right: 0;
		width: 100%;
		z-index: 200;

		&:hover {
			background: $blue;
		}
	}

}

@media (min-width: 1200px) {
	.header-wrapper {

		.cta-button {
			position: absolute;
			right: 0;
			top: 50%;
			width: 150px;
	
			&:hover {
				background: $blue;
			}
		}
	
	}
}

#header-background {
	background-position: center center;
	color: #FFF;
	height: 100vh;
	width: 100%;
	position: relative;
}

body:not(.home) {
	#header-background {
		background-image: url('../src/fonts/header-diensten.png');
		background-size: cover;
		background-position: center center;

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			background: #151a39c7;
		}
	}
}

.wrapper {
	padding: 0;
	position: relative;
}


.title-row {
	padding-bottom: 3rem;

	h1,
	h2,
	h3,
	h4 {
		font-size: 24px;
		line-height: 1.3;
	}

	h1,
	h2 {
		margin-bottom: 55px;
		&:before {
			content: "";
			display: block;
			width: 40px;
			height: 15px;
			background-image: url('../src/fonts/marker.png');
			background-size: 100% 100%;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: 35px;
		}
	}
}

@media (min-width: 992px) {
	.title-row {
		h1,
		h2 {
			font-size: calc(30px + 8 * ((100vw - 320px)/ 880));
			margin-bottom: 60px;

			&:before {
				top: 60px;
			}
		}
		h3,
		h4 {
			font-size: calc(20px + 8 * ((100vw - 320px)/ 880));
		}
	}
}

.content-row {
	color: #b6b5c0;
	font-size: 20px;

	ul {
		list-style: none;
		padding: 0;
	}

	h1,
	h2,
	h3 {
		margin-bottom: 30px;
	}

	.item {
		background: #1a1d42;
		border-bottom: 1px solid #f04043;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 275px;
		list-style: none;
		padding: 25px 0;
		text-align: center;
	}
}

@media (min-width: 992px) {
	.content-row {
		.item {
			padding: 30px 10px;
		}
	}
}

#diensten {
	a {
		color: inherit;
		position: relative;
		transition: .5s;

		&:after {
			content: "\f101";
			color: $red;
			display: inline-block;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			font-size: 12px;
			margin-left: 5px;
			position: absolute;
			top: 15px;
			transition: .5s;
		}

		&:hover {
			border-bottom: none;
			color: $red;
			font-weight: bold;
			text-decoration: none;


			&:after {
				animation: arrowRight .5s;
				margin-left: 10px;
			}
		}
	}
}

@keyframes arrowRight {
	from {
		margin-left: 5px;
	}

	to {
		margin-left: 10px;
	}
}

#row3 {
	text-align: center;
	padding: 100px 35px;

	&.light-background {
		background: white;
		font-size: 20px;

		h1,
		h2,
		h3,
		h4,
		p {
			color: #070a1b;
			opacity: 0;
		}

		h4 {
			color: #070a1bb3;
		}

		a {
			color: #070a1b;
		}

		&.startAnimation {
			h1,
			h2,
			h3 {
				animation: fadeOpacity 1s 0s forwards;
			}

			h4 {
				animation: fadeOpacity 1s .5s forwards;
				margin-bottom: 3rem;
			}

			p {
				animation: fadeOpacity 1s 1s forwards;
			}
		}
	}
}

@media (min-width: 768px) {
	#row3 {
		text-align: left;
	}
}

@media (min-width: 992px) {
	.light-background {
		padding: 250px 0;
	}
}

#row1 {
	padding-top: 40px;

	#diensten {
		font-size: 20px;
	}
}

@media (min-width: 768px) {
	#row1 {
		padding-top: 200px;
	}
}

.fadeAnimation {
	opacity: 0;	

	.items {
		div {
			opacity: 0;
			margin-top: 25px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&.zoomInFadeIn {
		opacity: 1;
		transition: .7s;
		transform: scale(1);
	
		.items {
			div {
				animation: fadeOpacity 1s forwards;
			}
			div:nth-child(1) {
				animation-delay: 0;
			}
			div:nth-child(2) {
				animation-delay: .5s;
			}
			div:nth-child(3) {
				animation-delay: 1s;
			}
			div:nth-child(4) {
				animation-delay: 1.5s;
			}
			div:nth-child(5) {
				animation-delay: 2s;
			}
			div:nth-child(6) {
				animation-delay: 2.5s;
			}
		}
 	}
}

@media (min-width: 768px) {
	.fadeAnimation {
		.items {
			div {
				margin: 0;
			}
		}
	}
}

.highlights {
	margin-top: 150px;
	position: relative;
	z-index: 100;

	.items-wrapper {
		position: absolute;
		padding: 10px;
		z-index: 100;

		h2 {
			font-size: 18px;
			margin-bottom: 2rem;
		}

		.items-title {
			&.startAnimation {
				div {
					animation: fadeOpacity 1s forwards;
					transition: .5s;
				}
				div:nth-child(1) {
					animation-delay: .5s;
				}
				div:nth-child(2) {
					animation-delay: 1s;
				}
				div:nth-child(3) {
					animation-delay: 1.5s;
				}
			}
			.title {
				opacity: 0;
				h3 {
					color: #999;
					cursor: pointer;
					font-size: 40px;

					a {
						color: inherit;
					}
				}

				&:hover,
				&.active {
					h3 {
						color: white;

						a {
							text-decoration: none;
							border-bottom: none;
						}
					}
				}
			}
		}
	}

	.items-image {
		width: 100%;

		.image {
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 1;
			transition: .5s;
			width: 100%;

			img {
				min-height: 100%;
			}

			h3 {
				font-size: 40px;
			}

			&:before {
				background: #070d3159;
				content: "";
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				position: absolute;
			}

			&:not(.active) {
				opacity: 0;
			}
		}
	}
}

@media (min-width: 768px) {
	.highlights {
		margin-top: 150px;

		.items-wrapper {
			left: 15%;
		}

		.items-image {
			min-height: 600px;
			max-height: 600px;
			overflow: hidden;

			.image {
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.highlights {
		.items-image {
			min-height: 100vh;
			max-height: 100vh;
			overflow: hidden;
		}
	}
}

@media (max-width: 767px) {
	.highlights {
		.items-wrapper {
			top: 0;
		}
		.items-image {
			.image {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				opacity: 1 !important;	
				
				.title {
					position: absolute;
					z-index: 100;
					text-align: center;
					padding: 0 25px;

					h3 {
						font-size: 30px;
						a {
							color: #FFF;
						}
					}
				}
			}
		}
	}
}

body.error404,
body.page-template-clean {
	#header-background {
		height: 100px;
		background: none;
	}
}

#pageContent {
	.dienst-tekst {
		color: rgba(255,255,255,.8);
		line-height: 1.5;
		margin-top: 30px;
		padding: 0 30px;
		text-align: center;
	}

	#row1 {
		a {
			color: $red;
		}
	}

	#row2 {
		padding: 40px 0;
	}

	.projecten {
		margin-top: 5rem;
		margin-bottom: 5rem;

		h2 {
			margin-bottom: 3rem;
		}

		.item {
			align-items: center;
			align-content: center;
			display: flex;
			justify-content: center;
			overflow: hidden;
			position: relative;
			text-align: center;

			h3,
			p {
				margin: 0;
			}

			.image {
				position: relative;

				img {
					transition: transform .5s;
				}

				&:before {
					background: #070d3159;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 100;
				}
			}

			&:hover {
				.image {
					img {
						transform: scale(2);
					}
				}
			}

			.title {
				position: absolute;
				z-index: 200;

				a {
					color: white;

					&:hover {
						border: none;
					}
				}
			}
		}
	}

	.contact-block {
		background: white;
		color: $black;
		font-family: $fontHeading;
		padding: 40px 0;

		.extra {
			margin-top: 2rem;
			ul {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				list-style: none;
				padding: 0;

				li {
					flex: 0 0 100%;

					a {
						color: $black;

						&:hover {
							border-color: $red;
							color: $red;
						}
					}
				}
			}
		}

		.form {
			background: $blue;
			color: white;
			padding: 30px;

			button {
				background: $red;
				border: none;
				color: white;
				font-size: 15px;
			}

			.wpforms-error {
				color: $red;
			}
		}
	}

	.usps {
		margin-top: 40px;
		.item {
			height: 200px;
			margin-bottom: 35px;
			.icon {
				font-size: 45px;
				margin-bottom: 25px;		
			}
		}
	}
}

@media (max-width: 767px) {
	.contact-block {
		div.wpforms-container-full .wpforms-form .wpforms-one-half, div.wpforms-container-full .wpforms-form .wpforms-three-sixths, div.wpforms-container-full .wpforms-form .wpforms-two-fourths {
			width: 100%;
			margin: 0;
		}
	}
}

@media (min-width: 768px) {
	#pageContent {
		#row2 {
			padding: 150px 0;
		}

		.dienst-tekst {
			margin-top: 0;
			padding: 0;
			text-align: left;
		}

		.contact-block {
			padding: 100px 35px;
			.extra {
				ul {
					li {
						flex: 0 0 50%;
					}
				}
			}
		}

		.usps {
			margin-top: 100px;
		}
	}
}

.footer-wrapper {
	background: #1a1d43;
	color: white;
	overflow: hidden;
	height: auto;
	padding: 4rem 0;
	position: relative;
	z-index: 400;
	text-align: center;

	> div:nth-child(1) {
		> div {
			> div {
				padding-bottom: 40px;
			}
		}
	}

	> div:nth-child(2) {
		margin-top: auto;
	}

	h3 {
		padding-bottom: 15px;
	}

	a {
		color: white;
		font-size: 18px;

		&:hover {
			border-bottom: none;
			color: $red;
			text-decoration: none;
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			line-height: 1.5;
		}
	}
}

@media (min-width: 768px) {
	.footer-wrapper {
		text-align: left;
	}
}

@media (min-width: 992px) {
	.footer-wrapper {
		height: 400px;
	}
}

@keyframes scrollDown {
	0% {
		bottom: 11vh;
	}

	50% {
		bottom: 10vh;
	}

	100% {
		bottom: 11vh;
	}
}
  
@keyframes animStar {
  	from {
    	transform: translateY(-1000px);
	}
  	to {		
    	transform: translateY(-2000px);
	}
}

@keyframes fadeOpacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes loader {
  0% {
    top: 55px;
    left: 55px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@keyframes moveTextUp {
	0% {
		padding-top: -25px;
		opacity: 0;
	}

	70% {
		padding-top: 20px;
	}

	100% {
		padding-top: 0;
		opacity: 1;
	}
}