// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 24px;

/* ---- reset ---- */ 
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } 
/* ---- particles.js container ---- */ 
#particles-js{ position:absolute; width: 100%; height: 100%; z-index: 1;} 
/* ---- stats.js ---- */ 
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

@font-face {
    font-family: 'Days One';
    src: url('../src/fonts/DaysOne-Regular.woff2') format('woff2'),
        url('../src/fonts/DaysOne-Regular.woff') format('woff'),
        url('../src/fonts/DaysOne-Regular.svg#DaysOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../src/fonts/Oswald-Medium.woff2') format('woff2'),
        url('../src/fonts/Oswald-Medium.woff') format('woff'),
        url('../src/fonts/Oswald-Medium.svg#Oswald-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

body {
	background-color: #161a39;
  	color: #999999;
  	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	font-family: 'Oswald';
    line-height: 32px;
}

h1,
h2,
h3,
h4,
h5 {
	color: white;
	font-family: 'Days One';
	font-weight: bold;
}

body.loaded {
	.loading-wrapper {
		opacity: 0;
		transform: scale(0);
		transition: opacity 0.3s ease-out;
		transition: transform 0.4s ease-out;
	}

	.loader {
		opacity: 0;
		transform: scale(0);
		transition: opacity 0.3s ease-out;
		transition: transform 0.4s ease-out;
	}
}

.loading-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 9997;
	top: 0;

	.lds-ellipsis {
	  display: inline-block;
	  position: relative;
	  width: 64px;
	  height: 64px;
	}
	.lds-ellipsis div {
	  position: absolute;
	  top: 27px;
	  width: 11px;
	  height: 11px;
	  border-radius: 50%;
	  background: #fff;
	  animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	.lds-ellipsis div:nth-child(1) {
	  left: 6px;
	  animation: lds-ellipsis1 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(2) {
	  left: 6px;
	  animation: lds-ellipsis2 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(3) {
	  left: 26px;
	  animation: lds-ellipsis2 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(4) {
	  left: 45px;
	  animation: lds-ellipsis3 0.6s infinite;
	}
	@keyframes lds-ellipsis1 {
	  0% {
	    transform: scale(0);
	  }
	  100% {
	    transform: scale(1);
	  }
	}
	@keyframes lds-ellipsis3 {
	  0% {
	    transform: scale(1);
	  }
	  100% {
	    transform: scale(0);
	  }
	}
	@keyframes lds-ellipsis2 {
	  0% {
	    transform: translate(0, 0);
	  }
	  100% {
	    transform: translate(19px, 0);
	  }
	}

}

.logo-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100px;	
	z-index: 400;
	width: 100%;
	text-align: center;
	align-items: center;

	&.dark-background {
		background: #161a39;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
	}
	&.fixed {
		background: #000000d6;
		overflow: hidden;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 500;
	}

	img {
		max-width: 90%;
		height: auto;
	}

	.navbar-brand {
		padding: 0;
		margin: 0;
	}
}

@media (min-width: 768px) {
	.logo-wrapper {
		height: 125px;

		img {
			max-width: 500px;
			height: auto;
		}
	}
}

.navbar {
	background-color: #FFF !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.11);
  	height: 85px;
	padding: 0;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 32px;
		background: #00BCD4;
		width: 100%;
	}

	.container {
		position: relative;
	}

	img {
		width: 200px;
		height: auto;
	}

	.navbar-nav .nav-link {
		color: black;
		margin: 0 0.2rem;
		padding: .1rem .5rem;
		transition: 0.3s;

		&:hover {
			border-radius: 20px;
			background: #00BCD4;
			color: white;
			transition: 0.3s;
		}
	}
}

#navbarNavDropdown {
	position: relative;
	top: 17px;
}

.brand-title {
	flex: 0 0 90%;
	h2 {
		display: table-caption;
		text-align: left;
		color: #FFF;
		font-size: 35px;
		line-height: 2.5rem;
	}
}

.header-text {
	bottom: 40px;
	position: absolute;
	left: 90px;
	color: hsla(0,0%,100%,.8);
	z-index: 10;

	h1,
	h2,
	h3 {
		color: #FFF;
		font-size: calc(48px + 8 * ((100vw - 320px)/ 880));
		line-height: 1.3;
		margin: 0;
	}

	p {
		margin-top: 1rem;
	}

	&.visible {
		animation: moveTextUp 1s;
	}
}

@media (min-width: 768px) {
	.header-text {
		left: 50px;
	}
}

@media (max-width: 991px) and (orientation: landscape) {
	.header-text {
		top: 100px;
	}
}

.menu-wrapper {
	background: transparent;
	position: fixed;
	right: 0px;
	top: 0;
	margin: auto;
	width: 15px;
	height: 15px;
	transition: all .5s ease;

	#nav-wrapper {
		display: none;
		opacity: 1;
		transition: all .6s;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				transition: .5s;
				a {
					color: #FFF;
					font-size: 35px;
				}

				&:hover {
					a {
						color: black;
					}
				}
			}
		}
	}

	&.show {
		background: #ff4242;
		width: 100%;
		height: 100vh;
		z-index: 100;


		#nav-wrapper {
			display: flex;
			opacity: 1;
		}
	}

}

.menu-toggle {
	cursor: pointer;
	height: 20px;
	position: relative;
	width: 30px;
	z-index: 600;
	transition: 0.5s;
	align-items: center;
	margin-left: auto;
	margin-right: 15px;
	margin-bottom: 10px;

	.line {
		background: white;
		height: 1px;
		width: 25px;

		&:after,
		&:before {
			background: white;
			content: "";
			display: block;
			height: 1px;
			position: absolute;
		    width: 25px;
		}

		&:before {
			top: 7px;
		}

		&:after {
			top: 14px;
		}
	}
}

.contact-info {
	color: black;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 400;

	.button {
		background: white;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		cursor: pointer;
		font-size: 2rem;
		height: 55px;
		text-align: center;
		line-height: 55px;
		width: 55px;
	}

	.info {
		background: #ff4242;
		border-radius: 10px 10px 0 10px;
		bottom: 60px;
		display: flex;
		flex-direction: column;
		right: 30px;
		height: 200px;
		justify-content: center;
		opacity: 0;
		position: absolute;
		padding: 2rem;
		transition: all 0.3s ease-out;
		visibility: hidden;
		width: 250px;

		a {
			color: white;
			display: block;

			&:hover {
				color: black;
				text-decoration: none;
			}
		}

		&.showMore {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media (min-width: 768px) {
	.contact-info {
		.info {
			bottom: 50px;
			right: 50px;
			width: 350px;
		}
	}
}

#header-background {
	background-position: center center;
	color: #FFF;
	height: 100vh;
	width: 100%;
	position: relative;
}

.wrapper {
	padding: 0;
	position: relative;
}


.title-row {
	padding-bottom: 3rem;

	h1,
	h2,
	h3,
	h4 {
		font-size: 24px;
		line-height: 1.3;
	}
}

@media (min-width: 992px) {
	.title-row {
		h1,
		h2,
		h3,
		h4 {
			font-size: calc(35px + 8 * ((100vw - 320px)/ 880));
		}
	}
}

.content-row {
	color: #b6b5c0;
	font-size: 20px;

	ul {
		list-style: none;
		padding: 0;
		li {
			a {
			}
		}
	}
}

#row1 {
	a {
		color: inherit;
		transition: .5s;

		&:after {
			content: "\f101";
			display: inline-block;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			font-size: 12px;
			margin-left: 5px;
			transition: .5s;
		}

		&:hover {
			color: white;
			font-weight: bold;
			text-decoration: none;


			&:after {
				animation: arrowRight .5s;
				margin-left: 10px;
			}
		}
	}
}

@keyframes arrowRight {
	from {
		margin-left: 5px;
	}

	to {
		margin-left: 10px;
	}
}

.light-background {
	background: white;
	padding: 100px 0;

	h1,
	h2,
	h3,
	h4,
	p {
		color: #070a1b;
		opacity: 0;
	}

	h4 {
		color: #070a1bb3;
	}

	a {
		color: #070a1b;
	}

	&.startAnimation {
		h1,
		h2,
		h3 {
			animation: fadeOpacity 1s 1s forwards;
		}

		h4 {
			animation: fadeOpacity 1s 1.5s forwards;
			margin-bottom: 3rem;
		}

		p {
			animation: fadeOpacity 1s 2s forwards;
		}
	}

}

@media (min-width: 992px) {
	.light-background {
		padding: 250px 0;
	}
}

#row1 {
	padding-top: 200px;
}

.fadeAnimation {
	opacity: 0;	

	div:nth-child(2) {
		div {
			opacity: 0;
		}
	}

	&.zoomInFadeIn {
		opacity: 1;
		transition: .7s;
		transform: scale(1);
	
		div:nth-child(2) {
			div {
				animation: fadeOpacity 1s 1s forwards;
			}
			div:nth-child(1) {
				animation-delay: .5s;
			}
			div:nth-child(2) {
				animation-delay: 1s;
			}
			div:nth-child(3) {
				animation-delay: 1.5s;
			}
			div:nth-child(4) {
				animation-delay: 2s;
			}
		}
 	}
}

.highlights {
	margin-top: 150px;
	position: relative;
	z-index: 100;

	.items-wrapper {
		position: absolute;
		padding: 10px;
		z-index: 100;

		h2 {
			font-size: 18px;
			margin-bottom: 2rem;
		}

		.items-title {
			&.startAnimation {
				div {
					animation: fadeOpacity 1s 1s forwards;
					transition: .5s;
				}
				div:nth-child(1) {
					animation-delay: .5s;
				}
				div:nth-child(2) {
					animation-delay: 1s;
				}
				div:nth-child(3) {
					animation-delay: 1.5s;
				}
			}
			.title {
				opacity: 0;
				h3 {
					color: #999;
					cursor: pointer;
					font-size: 40px;

					a {
						color: inherit;
					}
				}

				&:hover,
				&.active {
					h3 {
						color: white;

						a {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.items-image {
		width: 100%;

		.image {
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 1;
			transition: .5s;

			img {
				min-height: 100%;
			}

			h3 {
				font-size: 40px;
			}

			&:before {
				background: #070d3159;
				content: "";
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				position: absolute;
			}

			&:not(.active) {
				opacity: 0;
			}
		}
	}
}

@media (min-width: 768px) {
	.highlights {
		margin-top: 150px;

		.items-wrapper {
			left: 15%;
		}

		.items-image {
			min-height: 600px;
			max-height: 600px;
			overflow: hidden;

			.image {
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.highlights {
		.items-image {
			min-height: 110vh;
			max-height: 110vh;
			overflow: hidden;
		}
	}
}

@media (max-width: 767px) {
	.highlights {
		.items-wrapper {
			top: 0;
		}
		.items-image {
			.image {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				opacity: 1 !important;	
				
				.title {
					position: absolute;
					z-index: 100;
					text-align: center;

					h3 {
						a {
							color: #FFF;
						}
					}
				}
			}
		}
	}
}

.footer-wrapper {
	background: #161a39;
	color: white;
	overflow: hidden;
	height: auto;
	padding: 4rem 0;
	position: relative;
	z-index: 400;

	> div:nth-child(1) {
		> div {
			> div {
				padding-bottom: 40px;
			}
		}
	}

	> div:nth-child(2) {
		margin-top: auto;
	}

	h3 {
		padding-bottom: 25px;
	}

	a {
		color: white;

		&:hover {
			color: #ff4242;
			text-decoration: none;
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			line-height: 1.5;
		}
	}
}

@media (min-width: 992px) {
	.footer-wrapper {
		height: 500px;
	}
}

// n is number of stars required
@function multiple-box-shadow ($n) {
	$value: '#{random(2000)}px #{random(2000)}px #FFF';
	@for $i from 2 through $n {
    	$value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
	}
	@return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

#stars,
#stars2,
#stars3 {
	z-index: -1;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation	: animStar 50s linear infinite;
    
  &:after {
    content: " "; 
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation	: animStar 100s linear infinite;
    
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
 }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation	: animStar 150s linear infinite;
    
    &:after {
	    content: " ";
	    position: absolute;
	    top: 2000px;
	    width: 3px;
	    height: 3px;
	    background: transparent;
	    box-shadow: $shadows-big;
    }
}
  
@keyframes animStar {
  	from {
    	transform: translateY(-1000px);
	}
  	to {		
    	transform: translateY(-2000px);
	}
}

@keyframes fadeOpacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes loader {
  0% {
    top: 55px;
    left: 55px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@keyframes moveTextUp {
	0% {
		bottom: 10px;
		opacity: 0;
	}

	70% {
		bottom: 45px;
	}

	100% {
		bottom: 40px;
		opacity: 1;
	}
}